<!DOCTYPE html>
<html ng-app="carrinhodecompras">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>iBuy Store</title>
<script src="https://code.angularjs.org/1.0.1/angular-1.0.1.min.js"></script>
<script src="js/main.js"></script>
<script src="js/controllers/carrinho-controller.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- tema loja virtual -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style type="text/css">
.jumbotron {
	background-color: white;
}

.rodape {
	background-color: #e7e7e7;
}
</style>

<!-- 
IMAGENS USADAS FONTE : https://pixabay.com
 -->


</head>
<body ng-controller="CarrinhoController">

	<!-- 	<div class="jumbotron"> -->
	<!-- 		<div class="container text-center"> -->
	<!-- 			<h1>iBuy Store</h1> -->
	<!-- 		</div> -->
	<!-- 	</div> -->

	<!-- 	<nav class="navbar navbar-inverse"> -->
	<!-- 		<div class="container-fluid"> -->
	<!-- 			<div class="navbar-header"> -->
	<!-- 				<a class="navbar-brand" href="#">iBuy Store</a> -->
	<!-- 			</div> -->

	<!-- 			<div class="collapse navbar-collapse navHeaderCollapse" id="myNavbar"> -->

	<!-- 				<ul class="nav navbar-nav navbar-right"> -->
	<!-- 					<li> -->
	<!-- 						<a href="#"><span class="glyphicon glyphicon-user"></span> -->
	<!-- 								Olá  -->
	<!-- 						</a> -->
	<!-- 					</li> -->
	<!-- 					<li> -->
	<!-- 						<a data-toggle="modal" data-target="#modalCarrinho"> <span -->
	<!-- 							class="glyphicon glyphicon-shopping-cart"></span> Lista de -->
	<!-- 							compras -->
	<!-- 						</a> -->
	<!-- 					</li> -->
	<!-- 				</ul> -->
	<!-- 			</div> -->

	<!-- 		</div> -->
	<!-- 	</nav> -->


	<div class="jumbotron">
		<div class="container text-center">
			<h1>iBuy Store</h1>
		</div>
	</div>


	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#bar1">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">iBuy Store</a>
		</div>
		<div class="collapse navbar-collapse" id="bar1">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#"><span class="glyphicon glyphicon-user"></span>
						Olá </a></li>
				<li><a data-toggle="modal" data-target="#modalCarrinho"> <span
						class="glyphicon glyphicon-shopping-cart"></span> Lista de compras
				</a></li>
			</ul>
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<button data-toggle="modal" data-target="#modalAdicionadoSucesso"
							ng-click="adicionar('Oculos Preto',100);" type="button"
							class="btn btn-default">
							<span class="glyphicon glyphicon-plus"></span> Adicionar a lista
						</button>
					</div>
					<div class="panel-body">
						<img src="img/glasses-190971_960_720.jpg" class="img-rounded"
							width="304" height="236"> <span class="label label-default">1
							oculos na cor preta R$ 100,00</span>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<button data-toggle="modal" data-target="#modalAdicionadoSucesso"
							ng-click="adicionar('Oculos Transparente',100);" type="button"
							class="btn btn-default">
							<span class="glyphicon glyphicon-plus"></span> Adicionar a lista
						</button>
					</div>
					<div class="panel-body">
						<img src="img/glasses-415257_960_720.jpg" class="img-rounded"
							width="304" height="236"> <span class="label label-default">1
							Oculos Transparente R$ 150,00</span>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<button data-toggle="modal" data-target="#modalAdicionadoSucesso"
							ng-click="adicionar('Oculos Classico',100);" type="button"
							class="btn btn-default">
							<span class="glyphicon glyphicon-plus"></span> Adicionar a lista
						</button>
					</div>
					<div class="panel-body">
						<img src="img/glasses-1333433_960_720.jpg" class="img-rounded"
							alt="Cinque Terre" width="304" height="236"> <span
							class="label label-default">1 Oculos Classico R$ 100,00</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<button data-toggle="modal" data-target="#modalAdicionadoSucesso"
							ng-click="adicionar('Oculos Vermelho',200);" type="button"
							class="btn btn-default">
							<span class="glyphicon glyphicon-plus"></span> Adicionar a lista
						</button>
					</div>
					<div class="panel-body">
						<img src="img/red-33889_960_720.png" class="img-rounded"
							alt="Cinque Terre" width="304" height="236"> <span
							class="label label-default">1 Oculos Vermelho R$ 100,00</span>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<button data-toggle="modal" data-target="#modalAdicionadoSucesso"
							ng-click="adicionar('Oculos Esportivo 1',200);" type="button"
							class="btn btn-default">
							<span class="glyphicon glyphicon-plus"></span> Adicionar a lista
						</button>
					</div>
					<div class="panel-body">
						<img src="img/sunglasses-145359_960_720.png" class="img-rounded"
							alt="Cinque Terre" width="304" height="236"> <span
							class="label label-default">1 Oculos Esportivo 1 R$ 250,00</span>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<button data-toggle="modal" data-target="#modalAdicionadoSucesso"
							ng-click="adicionar('Oculos Esportivo 2',300);" type="button"
							class="btn btn-default">
							<span class="glyphicon glyphicon-plus"></span> Adicionar a lista
						</button>
					</div>
					<div class="panel-body">
						<img src="img/sunglasses-178151__340.jpg" class="img-rounded"
							alt="Cinque Terre" width="304" height="236"> <span
							class="label label-default"> 1 Oculos Esportivo 2 R$
							200,00</span>
					</div>
				</div>
			</div>
		</div>
		<!-- MODAL CARRINHO-->
		<div class="modal fade" id="modalCarrinho" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header" align="center">
						<h4 class="modal-title">Produtos adicionados ao carrinho</h4>
					</div>
					<div class="modal-body">

						<table class="table table-responsive">
							<thead>
								<tr>
									<th>Produto</th>
									<th>Quantidade</th>
									<th>Preço</th>
									<th>Remover 1</th>
									<th>Remover Todos</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in itens" class="">
									<td>{{item.nome}}</td>
									<td>{{item.quantidade}}</td>
									<td>R$ {{item.preco}},00</td>
									<td align="center" ng-click="diminuirQuantidade(item,0)">
										<a href="#"> <span class="glyphicon glyphicon-minus-sign"></span>
									</a>
									</td>
									<td align="center" ng-click="diminuirQuantidade(item,-1)">
										<a href="#"> <span class="glyphicon glyphicon-remove-sign"></span>
									</a>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
								</tr>
							</tfoot>
						</table>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">fechar</button>
					</div>
				</div>
			</div>
		</div>


		<!-- MODAL ADICIONADO-->
		<div class="modal fade" id="modalAdicionadoSucesso" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">

					<div class="modal-body">
						<div class="alert alert-success" align="center">
							<strong>Sucesso!</strong> Item adicionado a "Lista de compras"
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
					</div>
				</div>
			</div>
		</div>

	</div>

	<br>
	<br>

	<footer class="rodape">
		<p>iBuy Store</p>
	</footer>
</body>
</html>